{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('react1') }}
{% endblock %}

{% block body %}
    <div id="root"></div>
    {{ encore_entry_script_tags('react1') }}
{% endblock %}
